<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments Index</title>
</head>
<body>
    <h1>Blog Posts</h1>
    <ul>
        <% for (let c of comments) { %>
            <li><%= c.username %> (<%= c.date %>) <b>:</b> <%= c.comment %> <a href="/comments/<%= c.id %>">post details</a> </li>
        <% } %>
    </ul>
    <a href="/comments/new">Add a new post...</a>
</body>
</html>